
<!-- Copy and pasted html source from live site with amazon s3 links -->
<!-- Date: July 17, 2012 -->

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Explore | Lightning</title>

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <script type="text/javascript" src="http://use.typekit.com/bqi6jyf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script src='/static/js/jquery-1.7.1.min.js'></script>
    <!-- Included CSS Files -->
    <link rel="stylesheet" href="http://s3.amazonaws.com/lightning-app/css/foundation.css">
    <link rel="stylesheet" href="http://s3.amazonaws.com/lightning-app/css/app.css">

    <!--[if lt IE 9]>
        <link rel="stylesheet" href="http://s3.amazonaws.com/lightning-app//css/ie.css">
    <![endif]-->
    <!--[if gte IE 9]>
        <style type="text/css">
            .gradient {
               filter: none;
            }
        </style>
    <![endif]-->

    <script src="http://s3.amazonaws.com/lightning-app/js/modernizr.foundation.js"></script>

</head>
<body>

    <div class="top-bar">
        <div class="row">
            <div class="two columnns">
                <a href="/" id="logo" class="left logo"><span id="lightning"></span> Lightning</a>
            </div>
            <div class="four columns offset-by-two">
            </div>
            <div class="four columns" id="right-nav">
                <a href="/reg1" id="profile">Join as a photographer</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">

            <!--Block Content-->
                <h1>
                    Damnit, who's trolling the server
                </h1>
            <!--End Block-->

        </div>
    </div>

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Included JS Files -->
    <script src="http://s3.amazonaws.com/lightning-app/js/jquery.min.js"></script>
    <script src="http://s3.amazonaws.com/lightning-app/js/jquery.reveal.js"></script>
    <script src="http://s3.amazonaws.com/lightning-app/js/jquery.orbit-1.4.0.js"></script>
    <script src="http://s3.amazonaws.com/lightning-app/js/jquery.customforms.js"></script>
    <script src="http://s3.amazonaws.com/lightning-app/js/jquery.placeholder.min.js"></script>
    <script src="http://s3.amazonaws.com/lightning-app/js/jquery.tooltips.js"></script>
    <script src="http://s3.amazonaws.com/lightning-app/js/app.js"></script>
    
<script src="http://s3.amazonaws.com/lightning-app/js/handlebars.js"></script>
<script src="http://s3.amazonaws.com/lightning-app/js/home.js"></script>
    <!-- <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
    </script> -->

</body>
</html>

