<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{% block title %}{% endblock %}</title>

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="author" content="{% block meta_author %}{% endblock %}" />

    {# TODO: <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" /> #}
    {# TODO: <link rel="apple-touch-icon" href="{{ STATIC_URL }}images/apple-touch-icon.png" /> #}

    <script type="text/javascript" src="http://use.typekit.com/bqi6jyf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
    <!-- Included CSS Files -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/app.css">

    <!--[if lt IE 9]>
        <link rel="stylesheet" href="{{ STATIC_URL }}/css/ie.css">
    <![endif]-->
    <!--[if gte IE 9]>
        <style type="text/css">
            .gradient {
               filter: none;
            }
        </style>
    <![endif]-->
    
    {% block extra_head %}{% endblock %}
    <script src="{{ STATIC_URL }}js/modernizr.foundation.js"></script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33453354-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body id="{% block body_id %}{% endblock %}">

    {# Content #}
    <div class="top-bar">
        <div class="row">
            <div class="three mobile-two columnns" id="logobox">
  
                <a href="{% url index %}" id="logo" class="left logo">
                    <span id="lightning"></span>Lightning
                </a>

            </div>
            <div class="four mobile-two columns" id="right-nav">
                {% if not registration %}
                    {% if request.user.is_authenticated and not request.user.is_superuser %}
                        <a href="{% url logout %}" id="profile" class="logout">Logout</a>
                        <a href="/{{ request.user.username }}" id="profile">{{ request.user.get_profile.fullname }}</a>
                    {% else %}
                        <a href="{% url login %}" id="profile">Login</a>
                        <a href="{% url reg1 %}" id="join"><!-- Injected by CSS --></a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    
    {% block outside_content %}{% endblock %}

    <div class="row" id="main">
        <div class="twelve mobile-four columns">
            
            <!--Block Content-->
            {% block content %}{% endblock %}
            <!--End Block-->

        </div>
    </div>

    <footer>
        <div class="row">
            <div class="one mobile-one columns push-ten">
                <a href="#about" name="modal" data-reveal-id="about-modal" id="contact-button">About</a>
            </div>
            <div class="one mobile-one columns">
                <a href="mailto:kevin@imkevinxu.com?Subject=Lightning Contact" target="_blank">Contact</a>
            </div>
        </div>
    </footer>

    <div id="about-modal" class="reveal-modal">
        <h2>About Us</h2>
        <p class="lead">A premium marketplace for freelance photographers</p>
        <p>Originally created for Photo Hack Day 3 by Wylie Conlon, Katherine Chen, Wesley Leung, and Kevin Xu.</p>
        <p>We are still currently in very early alpha and seeing if people like this MVP or not so please get in <a href="mailto:kevin@imkevinxu.com?Subject=Lightning Contact" target="_blank">contact</a> with us if you have any comments or see any bugs ;)</p>

        <img src="http://i.imgur.com/fI0Ln.jpg" alt="">
        <a class="close-reveal-modal">&#215;</a>
    </div>

    {# End Content #}
    
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Included JS Files -->
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.reveal.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.orbit-1.4.0.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.customforms.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.placeholder.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.tooltips.js"></script>
    <script src="{{ STATIC_URL }}js/app.js"></script>
    {% block javascript %}{% endblock %}

</body>
</html>

