{% extends "base.html" %}
<!-- Copy and Paste this for every html file. -->
{% block title %}Lightning{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}

<div class = "ten columns">

   <h3>I'm looking for a photographer who specializes in </h3>
    <form action="{% url reg2 %}" method="post" id="reg1">{% csrf_token %} 
        
        <select name="tags">
			<option selected="selected">anything</option>
			<option>portraits</option>
			<option>weddings</option>
			<option>editorial</option>
		</select>

        <h3>near</h3>
       	
        <select name="city">
			<option selected="selected">San Francisco</option>
			<option>portraits</option>
			<option>weddings</option>
			<option>editorial</option>
		</select>

        <input type="submit" name="submit" value="Find my photographer!" class="button"/>
    </form>

</div>

<div class="gallery">

{% for user in users %}
     <div class="photo-thumb">
       <div class="name">{{ user.fullname }}</div></li>
          <a href="/{{ user.username }}"><img src="{{ user.pics.0.image_url }}" /></a>
     </div>
{% endfor %}

</div>

{% endblock %}

{% block javascript %}{% endblock %}
