{% extends "base.html" %}
<!-- Copy and Paste this for every html file. -->
{% block title %}Lightning{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}

<script type="text/javascript">
    $(function() {          
        $("img").lazyload();

      });
    
</script>

{% endblock %}

{% block content %}

<div class = "search-container ten columns">
         
   <h3 class ="white">I'm looking for a photographer who specializes in </h3>
    <form action="{% url reg2 %}" method="post" id="reg1">{% csrf_token %} 
     
    
    <select name="tags">
			<option selected="selected">anything</option>
			<option>portraits</option>
			<option>weddings</option>
			<option>editorial</option>
		</select>

        <h3 class="white">near</h3>
       	
        <select name="city">
			<option selected="selected">San Francisco</option>
			<option>portraits</option>
			<option>weddings</option>
			<option>editorial</option>
		</select>

        <input type="submit" name="submit" value="Find my photographer!" class="button" id="find-photographer" />
    </form>

</div>



<div id="gallery">

{% for user in users %}
     <div class="photo-thumb">
       <div class="name">{{ user.fullname }}</div></li>
          <a href="/{{ user.username }}"><img src="{{ user.pics.0.image_url }}" /></a>
     </div>
{% endfor %}

</div> 

<script type="text/x-handlebars-templtae" id="photo-thumb-template">
     <div class="photo-thumb">
          <a href="/{{ username }}"><img src="{{ image_url }}" /></a>
          <div class="name">{{ fullname }}</div></li>
     </div>
</script>

{% endblock %}

{% block javascript %}
<script src="{{ STATIC_URL }}js/handlebars.js"></script>
<script src="{{ STATIC_URL }}js/home.js"></script>
{% endblock %}
