{% extends "base.html" %}
<!-- Copy and Paste this for every html file. -->
{% block title %}{{ user.fullname }} | Lightning{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}
<style type="text/css">
    @font-face {
      font-family: 'FoundationIconsGeneral';
      src: url('{{ STATIC_URL }}fonts/foundation-icons-general.eot');
      src: url('{{ STATIC_URL }}fonts/foundation-icons-general.eot?#iefix') format('embedded-opentype'),
           url('{{ STATIC_URL }}fonts/foundation-icons-general.woff') format('woff'),
           url('{{ STATIC_URL }}fonts/foundation-icons-general.ttf') format('truetype'),
           url('{{ STATIC_URL }}fonts/foundation-icons-general.svg#FoundationIconsGeneral') format('svg');
      font-weight: normal;
      font-style: normal;
    }
    @font-face {
        font-family: 'FoundationIconsSocial';
        src: url('{{ STATIC_URL }}fonts/foundation-icons-social.eot');
        src: url('{{ STATIC_URL }}fonts/foundation-icons-social.eot?#iefix') format('embedded-opentype'),
             url('{{ STATIC_URL }}fonts/foundation-icons-social.woff') format('woff'),
             url('{{ STATIC_URL }}fonts/foundation-icons-social.ttf') format('truetype'),
             url('{{ STATIC_URL }}fonts/foundation-icons-social.svg#FoundationIconsSocial') format('svg');
        font-weight: normal;
        font-style: normal;

    }

    /* CSS to style glyphs */
    .glyph { cursor: finger; font-size: 44px; line-height: 1; padding-right: 8px; }
    .glyph.general { font-family: "FoundationIconsGeneral"; }
    .glyph.social { font-family: "FoundationIconsSocial"; }
</style>

{% endblock %}

{% block outside_content %}

<div class="portfolio-container">
    <div class="portfolio">
        <ul>        
            {% for photo in photos|slice:":15" %}
                <li><img src="{{ photo.image_url }}" class="hero_photo"/></li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="profile-container">
    <div class="row">
        <div class="ten columns centered profile">
            <div class="two columns">
                <div class="propic">
                    <img src="{{ user.profilepic }}">
                </div>
                <div class="clear"></div>

                <a href="#booking" name="modal" class="success button" data-reveal-id="contact-modal" id="contact-button">Contact Me</a>
            </div>

            <div class="nine columns offset-by-one">
                <div class="profile_info">
                    <h3 id="name"><a href="http://500px.com/{{ user.fhp_username }}" target="_blank">{{ user.fullname }}</a></h3>

                    {% if tags %}
                        <span class="info">Specializes in
                            {% for tag in tags %}
                                <span class="tag">{{ tag }}</span>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </span>
                    {% endif %}

                    {% if user.location %}
                        <span class="info">Located in <span class="tag">{{ user.location }}</span></span>
                    {% endif %}
                    
                    {% if user.fhp_about %}
                        <p class="quote">{{ user.fhp_about }}</p>
                    {% endif %}

                    {% if user.website %}
                        <a href="http://{{ user.website }}" target="_blank"><span class="glyph general">m</span></a>
                    {% endif %}
                    {% if user.facebookpage %}
                        <a href="http://{{ user.facebookpage }}" target="_blank"><span class="glyph social">d</span></a>
                    {% endif %}
                    {% if user.twitter %}
                        <a href="http://twitter.com/{{ user.twitter }}" target="_blank"><span class="glyph social">e</span></a>
                    {% endif %}
                    {% if user.flickr %}
                        <a href="http://www.flickr.com/photos/{{ user.flickr }}" target="_blank"><span class="glyph social">o</span></a>
                    {% endif %}

                    {% load humanize %}
                    <span class="glyph general" style="color:#D41616">b</span><span style="font-size:48px; font-family: Helvetica">{{ user.fhp_affection|intcomma }}</span>

                </div>
            </div>

            <div class="clear"></div>
        </div>
    </div>
</div>

<div id="contact-modal" class="reveal-modal">
    <h2>Get in touch</h2>
    <p class="lead">Your professional photographer is a message away</p>

    <form method="POST" class="custom">{% csrf_token %}
        <input type="text" name="name" placeholder="Name"/>
        <input type="text" name="email" placeholder="Email Address"/>
        
        <hr />

        <div class="block">
            <h6>Tell {{ user.firstname }} what you're looking for:</h6>

            <label class="inline">Type of photos:</label>

            {% for tag in tags %}
            <label for="checkbox{{ forloop.counter }}" class="checkbox">
               <input type="checkbox" name="tags" id="checkbox{{ forloop.counter }}" style="display: none;">
                <span class="custom checkbox"></span> {{ tag }}
            </label>
            {% endfor %}

            <label for="checkboxother" class="checkbox">
                <input type="checkbox" name="tags" id="checkboxother" style="display: none;">
                <span class="custom checkbox"></span> Other
            </label>
        </div>
        <div class="clear"></div>
        
        <div id="event-date">
            <label for="event-date" class="inline">Date of shoot</label>
            <input type="date" name="date" placeholder="Date of event"/>
        </div>
        <div class="clear"></div>

        <label for="message" class="block">Explain what you're looking for in detail:</label>
        <textarea id="message" name="message" rows="3"></textarea>

        <input type="submit" name="submit" value="Contact Me" class="success button"/>
        
    </form>
    <a class="close-reveal-modal">&#215;</a>
</div>

{% endblock %}

{% block javascript %}

    <script src="{{ STATIC_URL }}js/jquery.scrollTo-min.js"></script>
    <script type="text/javascript">
        //So wet, *sigh*
        (function() {
            var x = 0;
            var hero_photos = $('.hero_photo');
            var limit = hero_photos.size() - 1;

            if ($(window).width() < 767) {
                window.setInterval(function(){
                    if (x == limit) {
                        $('.portfolio-container').scrollTo( 0, 1500 );
                        x = 0;
                    } else {
                      $('.portfolio-container').scrollTo('+='+hero_photos[x].width+'px', 800, { axis:'x', easing:'linear' } );
                    }
                    x += 1;
                }, 3000);

            } else {
                window.setInterval(function(){
                    if (x == limit) {
                        $('.portfolio-container').scrollTo( 0, 1500 );
                        x = 0;
                    } else {
                    	$('.portfolio-container').scrollTo('+='+hero_photos[x].width+'px', 800, { axis:'x', easing:'linear' } );
                    }
                    x += 1;
                }, 3000);
              }
        })();
    </script>

{% endblock %}
