{% extends "base.html" %}
<!-- Copy and Paste this for every html file. -->
{% block title %}{{ user.fullname }} | Lightning{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}
<style type="text/css">
    @font-face {
      font-family: 'FoundationIconsGeneral';
      src: url('{{ STATIC_URL }}fonts/foundation-icons-general.eot');
      src: url('{{ STATIC_URL }}fonts/foundation-icons-general.eot?#iefix') format('embedded-opentype'),
           url('{{ STATIC_URL }}fonts/foundation-icons-general.woff') format('woff'),
           url('{{ STATIC_URL }}fonts/foundation-icons-general.ttf') format('truetype'),
           url('{{ STATIC_URL }}fonts/foundation-icons-general.svg#FoundationIconsGeneral') format('svg');
      font-weight: normal;
      font-style: normal;
    }
    @font-face {
        font-family: 'FoundationIconsSocial';
        src: url('{{ STATIC_URL }}fonts/foundation-icons-social.eot');
        src: url('{{ STATIC_URL }}fonts/foundation-icons-social.eot?#iefix') format('embedded-opentype'),
             url('{{ STATIC_URL }}fonts/foundation-icons-social.woff') format('woff'),
             url('{{ STATIC_URL }}fonts/foundation-icons-social.ttf') format('truetype'),
             url('{{ STATIC_URL }}fonts/foundation-icons-social.svg#FoundationIconsSocial') format('svg');
        font-weight: normal;
        font-style: normal;

    }

    /* CSS to style glyphs */
    .glyph { cursor: finger; font-size: 44px; line-height: 1; padding-right: 8px; }
    .glyph.general { font-family: "FoundationIconsGeneral"; }
    .glyph.social { font-family: "FoundationIconsSocial"; }
    #first_orbit { background: url(spinner.gif) center center #f4f4f4; height: 300px; }
    #first_orbit img { display: none; }

    #first_orbit.orbit { background: none; }
    #first_orbit.orbit img { display: block; }
</style>

{% endblock %}

{% block outside_content %}

<div class="portfolio-container">
    <div class="portfolio">
        <ul>        
            {% for photo in photos|slice:":15" %}
                <li><img src="{{ photo.image_url }}" /></li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="profile-container">
    <div class="row">
        <div class="ten columns centered profile">
            <div class="two columns">
                <div class="propic">
                    <img src="{{ user.profilepic }}">
                </div>
                <div class="clear"></div>

                <a href="#booking" name="modal" class="success button" data-reveal-id="contact-modal" id="contact-button">Contact Me</a>
            </div>

            <div class="ten columns">
                <div class="profile_info">
                    <h3 id="name">{{ user.fullname }}</h3>

                    <span class="info">Specializes in
                        {% for tag in tags %}
                            <span class="tag">{{ tag }}</span>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </span>

                    <span class="info">Located in <span class="tag">{{ user.location }}</span></span>

                    <p class="quote">{{ user.fhp_about }}</p>

                    {% if user.website %}
                        <a href="http://{{ user.website }}" target="_blank"><span class="glyph general">m</span></a>
                    {% endif %}
                    {% if user.facebookpage %}
                        <a href="http://{{ user.facebookpage }}" target="_blank"><span class="glyph social">d</span></a>
                    {% endif %}
                    {% if user.twitter %}
                        <a href="http://twitter.com/{{ user.twitter }}" target="_blank"><span class="glyph social">e</span></a>
                    {% endif %}
                    {% if user.flickr %}
                        <a href="http://www.flickr.com/photos/{{ user.flickr }}" target="_blank"><span class="glyph social">o</span></a>
                    {% endif %}

                    <span class="glyph general" style="color:#D41616">b</span><span style="font-size:48px; font-family: Helvetica">{{ user.fhp_affection }}</span>

                </div>
            </div>

            <div class="clear"></div>
        </div>
    </div>
</div>

<div id="contact-modal" class="reveal-modal">
    <h2>Get in touch</h2>
    <p class="lead">Your professional photographer is only a text away</p>

    <form method="POST">{% csrf_token %}
      <input type="text" name="name" placeholder="Your Name"/>
        <input type="text" name="email" placeholder="Your Email Address"/>
        <input type="text" name="phone" placeholder="Your Phone Number"/>
        <input type="date" name="date" placeholder="Date of event"/>
        
        <label for="message">Tell {{ user.firstname }} what you're looking for.</label>
        <textarea id="message" name="message" rows="3"></textarea>
        <input type="submit" name="submit" value="Contact Me" class="success button"/>
         <script type="text/javascript">
          $("#date").glDatePicker(
          {           
              cssName: "calendar",
              startDate: -1,
              endDate: -1,
              selectedDate: -1,
              showPrevNext: true,
              allowOld: true,
              showAlways: false,
              position: "absolute",
              onChange: null
          });
        </script>
       
    </form>
    <a class="close-reveal-modal">&#215;</a>
</div>

{% endblock %}

{% block javascript %}

    <script src="{{ STATIC_URL }}js/jquery.scrollTo-min.js"></script>
    <script type="text/javascript">
        (function() {
            $('.portfolio-container').scrollTo( 600, 0 );
            var x = 0;

            window.setInterval(function(){
              $('.portfolio-container').scrollTo('+=900px', 400, {axis:'x',easing:'linear'} );
              x += 1;
              if (x == 7) {
                  $('.portfolio-container').scrollTo( 0, 1500 );
                  x = 0;
              }
            }, 3000);
        })();
    </script>

{% endblock %}
