{% extends "base.html" %}
<!-- Copy and Paste this for every html file. -->
{% block title %}Registration | Lightning{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}


    <div class="reg-container registration seven columns centered">
        <h1>Join as a photographer</h1>

        <form action="{% url reg2 %}" method="post" id="reg1">{% csrf_token %} 
            <input type="text" name="email" placeholder="Email Address"/>
            <input type="password" name="password" placeholder="Password"/>
            <center>
            <input type="submit" name="submit" value="Create Account" class="button"/>
            </center>
        </form>
    </div>

{% endblock %}

{% block javascript %}{% endblock %}
