{% extends "base.html" %}
<!-- Copy and Paste this for every html file. -->
{% block title %}Registration | Lightning{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}

    <h1>Thanks for signing up {{ photographer.fullname }}</h1>
    <form action="{% url reg3 %}" method="post" id="reg2" class="custom">{% csrf_token %}
        <div class="row">
            <div class="eight columns">
                <div class="two mobile-one columns">
                    <label class="right inline">Full Name:</label>
                </div>
                <div class="ten mobile-three columns">
                    <input type="text" name="fullname" value="{{ photographer.fullname }}" class="nine"/>
                </div>

                <div class="two mobile-one columns">
                    <label class="right inline">Location:</label>
                </div>
                <div class="ten mobile-three columns">
                    <input type="text" name="location" value="{{ photographer.location }}" class="nine"/>
                </div>

                <div class="two mobile-one columns">
                    <label class="right inline">Website:</label>
                </div>
                <div class="ten mobile-three columns">
                    <input type="text" name="website" value="{{ photographer.website }}" class="nine"/>
                </div>

                <div class="two mobile-one columns">
                    <label class="right inline">About Me:</label>
                </div>
                <div class="ten mobile-three columns">
                    <input type="text" name="about" value="{{ photographer.fhp_about }}" placeholder="Aperture is my middle name" class="nine"/>
                </div>

                <div class="two mobile-one columns">
                    <label class="right inline">Phone:</label>
                </div>
                <div class="ten mobile-three columns">
                    <input type="text" name="phone" {% if photographer.phone != None %}value="{{ photographer.phone }}"{% endif %} placeholder="888-555-5555" class="nine"/>
                </div>

                <div class="two mobile-one columns">
                    <label class="right inline">Tags:</label>
                </div>

                <div class="ten mobile-three columns">
                    <label for="checkbox1" class="checkbox">
                       <input type="checkbox" name="tags" id="checkbox1" style="display: none;">
                        <span class="custom checkbox"></span> Portrait
                    </label>

                    <label for="checkbox2" class="checkbox">
                        <input type="checkbox" name="tags" id="checkbox2" style="display: none;">
                        <span class="custom checkbox"></span> Wedding
                    </label>

                    <label for="checkbox3" class="checkbox">
                        <input type="checkbox" name="tags" id="checkbox3" style="display: none;">
                        <span class="custom checkbox"></span> Fashion
                    </label>
                </div>
            </div>

            <div class="four columns">
                <img src="{{ photographer.profilepic }}" id="profilepic"/>
            </div>
        </div>
        <input type="submit" name="submit" value="Save Changes" class="button"/>
    </form>

{% endblock %}

{% block javascript %}{% endblock %}
