{% extends "base.html" %}
<!-- Copy and Paste this for every html file. -->
{% block title %}Registration | Lightning{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}
    <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}

    <div class="registration reg2">
        <h1>Thanks for signing up {{ photographer.fullname }}</h1>
        <form action="{% url reg3 %}" method="post" id="reg2" class="custom">{% csrf_token %}
            <div class="row">
                <div class="eight columns">

                    <div class="two mobile-one columns">
                        <label class="right inline">Location:</label>
                    </div>
                    <div class="ten mobile-three columns">
                        <input type="text" name="location" value="{{ photographer.location }}" class="ten"/>
                    </div>

                    <div class="two mobile-one columns">
                        <label class="right inline">Website:</label>
                    </div>
                    <div class="ten mobile-three columns">
                        <input type="text" name="website" value="{{ photographer.website }}" class="ten"/>
                    </div>

                    <div class="two mobile-one columns">
                        <label class="right inline">About:</label>
                    </div>
                    <div class="ten mobile-three columns">
                        <textarea name="about" class="ten" placeholder="Aperture is my middle name">{{ photographer.fhp_about }}</textarea>
                    </div>

                    <div class="two mobile-one columns">
                        <label class="right inline">Phone:</label>
                    </div>
                    <div class="ten mobile-three columns">
                        <input type="text" name="phone" {% if photographer.phone != None %}value="{{ photographer.phone }}"{% endif %} placeholder="888-555-5555" class="ten"/>
                    </div>

                    <div class="two mobile-one columns">
                        <label class="right inline">Tags:</label>
                    </div>

                    <div class="ten mobile-three columns">

                        {% for tag in tags %}
                        <label for="checkbox{{ forloop.counter }}" class="checkbox">
                           <input type="checkbox" name="tags" id="checkbox{{ forloop.counter }}" style="display: none;">
                            <span class="custom checkbox"></span> {{ tag }}
                        </label>
                        {% endfor %}

                        <label for="checkboxother" class="checkbox">
                            <input type="checkbox" name="tags" id="checkboxother" style="display: none;">
                            <span class="custom checkbox"></span> Other
                        </label>

                    </div>
                    <center>
                        <input type="submit" name="submit" value="Save Changes" class="button" id="savechanges"/>
                    </center>
                </div>

                <div class="four columns">
                    <img src="{{ photographer.profilepic }}" id="profilepic"/>
                    <span style="font-family: 'Permanent Marker', cursive;position: absolute; font-size: 20px; bottom: 20px; right: 50%; margin-right: -15px;">{{ photographer.firstname }}</span>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block javascript %}{% endblock %}
