{% extends "base.html" %}
<!-- Copy and Paste this for every html file. -->
{% block title %}Registration | Lightning{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}
<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}

    <div class="registration">
        <h1>Thanks for signing up {{ photographer.fullname }}</h1>
        <form action="{% url reg3 %}" method="post" id="reg2" class="custom">{% csrf_token %}
            <div class="row">
                <div class="eight columns">

                    <div class="two mobile-one columns">
                        <label class="right inline">Location:</label>
                    </div>
                    <div class="ten mobile-three columns">
                        <input type="text" name="location" value="{{ photographer.location }}" class="ten"/>
                    </div>

                    <div class="two mobile-one columns">
                        <label class="right inline">Website:</label>
                    </div>
                    <div class="ten mobile-three columns">
                        <input type="text" name="website" value="{{ photographer.website }}" class="ten"/>
                    </div>

                    <div class="two mobile-one columns">
                        <label class="right inline">About Me:</label>
                    </div>
                    <div class="ten mobile-three columns">
                        <input type="text" name="about" value="{{ photographer.fhp_about }}" placeholder="Aperture is my middle name" class="ten"/>
                    </div>

                    <div class="two mobile-one columns">
                        <label class="right inline">Phone:</label>
                    </div>
                    <div class="ten mobile-three columns">
                        <input type="text" name="phone" {% if photographer.phone != None %}value="{{ photographer.phone }}"{% endif %} placeholder="888-555-5555" class="ten"/>
                    </div>

                    <div class="two mobile-one columns">
                        <label class="right inline">Tags:</label>
                    </div>

                    <div class="ten mobile-three columns">

                        <label for="checkbox1" class="checkbox">
                           <input type="checkbox" name="tags" id="checkbox1" style="display: none;">
                            <span class="custom checkbox"></span> Wedding
                        </label>

                        <label for="checkbox2" class="checkbox">
                            <input type="checkbox" name="tags" id="checkbox2" style="display: none;">
                            <span class="custom checkbox"></span> Fashion
                        </label>

                        <label for="checkbox3" class="checkbox">
                            <input type="checkbox" name="tags" id="checkbox3" style="display: none;">
                            <span class="custom checkbox"></span> People
                        </label>

                        <label for="checkbox4" class="checkbox">
                           <input type="checkbox" name="tags" id="checkbox4" style="display: none;">
                            <span class="custom checkbox"></span> Family
                        </label>

                        <div class="clear"></div>

                        <label for="checkbox5" class="checkbox">
                            <input type="checkbox" name="tags" id="checkbox5" style="display: none;">
                            <span class="custom checkbox"></span> Concert
                        </label>

                        <label for="checkbox6" class="checkbox">
                            <input type="checkbox" name="tags" id="checkbox6" style="display: none;">
                            <span class="custom checkbox"></span> Journalism
                        </label>

                        <label for="checkbox7" class="checkbox">
                            <input type="checkbox" name="tags" id="checkbox7" style="display: none;">
                            <span class="custom checkbox"></span> Food
                        </label>
                    </div>
                    <center>
                        <input type="submit" name="submit" value="Save Changes" class="button" id="savechanges"/>
                    </center>
                </div>

                <div class="four columns">
                    <img src="{{ photographer.profilepic }}" id="profilepic"/>
                    <span style="font-family: 'Permanent Marker', cursive;position: absolute; font-size: 20px; bottom: 20px; right: 158px;">{{ photographer.firstname }}</span>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block javascript %}{% endblock %}
