{% extends "base.html" %}
<!-- Copy and Paste this for every html file. -->
{% block title %}{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}

<div class="gallery">

{% for user in users %}
     <div class="photo-thumb">
          <a href="#"><img src="{{ user.pics.0.image_url }}" /></a>
          <div class="name">{{ user.fullname }}</div></li>
     </div>
{% endfor %}

</div>

{% endblock %}

{% block javascript %}{% endblock %}
