/* Custom lightning_app CSS  */

html {
    height: 100%;
}

body {
    color: #1E1E1F;
    font-family: "museo-sans", sans-serif;
    background: url(http://s3.amazonaws.com/lightning-app/images/white_wall.png);
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.clear {
    clear: both;
}

.item {
    width: 310px;
    margin: 10px;
    float: left;
}

/* Top nav bar stylings */
.top-bar {
    width: 100% !important;
    margin: 0;
    padding: 0;

    background: #111 url(http://s3.amazonaws.com/lightning-app/images/darkwood.png);
    font-family: "museo-sans", Arial, sans-serif;
    font-weight: bold;
    line-height: 45px;

    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.7);
       -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.7);
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.7);
}

.top-bar #logo {
    display: inline-block;
    font-size: 22px;
    line-height: 40px;
    margin-top: 0;
}
#lightning {
    position: relative;
    float: left;
    height: 40px;
    width: 30px;
    margin-top: -2px;
    background: url(http://s3.amazonaws.com/lightning-app/images/icon.png) no-repeat 0 0;
}
.top-bar #logo:hover #lightning {
    background-position: 0 -44px;
}
    
.top-bar a {
    color: #fff;
    font-weight: bold;
}

.top-bar #right-nav a {
    float: right;
    padding: 0 15px;
    text-align: center;
}

.top-bar #right-nav a:hover {
    background-color: #2BA6CB;
}

#camera-icon {
    height: 30px;
    margin-top: 8px;
    margin-right: 10px;
}

/* Portfolio slideshow */

.portfolio-container {
    position: relative;
    width: 100%;
    height: 455px;
    overflow-x: scroll;
    overflow-y: hidden;

    background-color: black;

    z-index: -999;
}

.portfolio-container .portfolio {
    height: 500px;
    overflow: hidden;
    width: 9999px;
}

.portfolio-container li {
    float: left;
}

.portfolio-container img {
    z-index: -999;
}


.profile {
    margin-top: 20px !important;
    margin-bottom: 50px !important;
}

.profile-container {
    background: url("http://s3.amazonaws.com/lightning-app/images/background.gif");
    width: 100%;
    border-top: solid 1px white;
    -webkit-box-shadow: 0 0 5px 2px #888;
       -moz-box-shadow: 0 0 5px 2px #888;
            box-shadow: 0 0 5px 2px #888;
}

.propic {
    float: left;
    z-index: 100 !important;
    height: 140px;
    width: 140px;
    background: white;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    -webkit-box-shadow:inset 1px 1px 3px rgba(0, 0, 0, 0.4);
       -moz-box-shadow:inset 1px 1px 3px rgba(0, 0, 0, 0.4);
            box-shadow:inset 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.propic img {
    display: block;
    height: 97%;
    padding-top: 7px;
    margin-left: auto;
    margin-right: auto;
}

#name {
    font-weight: bold;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 10px;
}

.info {
    display: block;
    font-size: 14px;
    line-height: 140%;
}

.quote {
    margin-top: 10px;
    font-style: italic;
    font-size: 16px;
    word-wrap: break-word;
}

.tag {
    font-weight: bold;
}

#contact-button {
    width: 140px;
    margin: 15px 0;
}

#reg2 #profilepic {
    height: 280px;
    padding: 10px 10px 50px 10px;
    border: 1px solid #AFAFAF;
    background-color: white;
}

label.checkbox {
    display: inline-block;
    padding-top: 5px;
    padding-right: 10px;
}

label.checkbox span.checkbox {
    -webkit-transition: all 0.30s ease-in-out;
       -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;
            transition: all 0.30s ease-in-out;
}

label.checkbox:hover span.checkbox {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.reveal-modal-bg {
    background-color: rgba(0, 0, 0, 0.80);
}

/* MODAL WINDOW  */
#mask {
    display: none;
    position:fixed;
    left: 0;
    top: 0;
    z-index: 9000;
    background-color: rgba(0, 0, 0, 0.80);
}
 
#boxes .window {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 200px;
    padding: 20px;
    z-index: 9999;
}

#boxes #booking {
    width: 375px;
    height: 203px;
    padding: 10px;
    background-color: #fff;
}

.registration {
    margin-top: 50px !important;
    padding: 40px;
    padding-bottom: 80px;
    background-color: rgba(0, 0, 0, 0.80);
}

.registration.reg2 {
    background-color: inherit !important;
}

.white {
    color: white;
}

.registration #reg1 input {
    line-height: 36px;
    font-size: 24px;
}

.registration #reg1 input[type=text],
.registration #reg1 input[type=email],
.registration #reg1 input[type=password] {
    height: 50px;
}

.registration #reg1 input[type=submit] {
    margin-top: 20px;
}

.registration label.checkbox {
    color: rgba(0, 0, 0, 0.75);
}

.registration input#savechanges {
    margin-top: 30px;
    margin-right: 110px;
}

.registration form#reg2 {
    margin-top: 20px;
}

#gallery  {
    margin-top: 20px;
    margin-bottom: 80px;
}

#gallery .photo-thumb {
    float: left;
    position: relative;
    overflow: hidden;

    max-height: 206px;
    margin-right: 10px;
    margin-bottom: 25px;
    background-color:rgba(0, 0, 0, 0.65);

    -webkit-box-shadow: 1px 1px 3px #888;
       -moz-box-shadow: 1px 1px 3px #888;
            box-shadow: 1px 1px 3px #888;
}

#gallery .photo {
    max-width: 310px;
    background-color: black;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

#gallery #loader {
    margin-left: 20px;
    width: 24px;
}

#gallery a {
    text-decoration: none;
}

#gallery .name {
    position: absolute;
    width: 100%;
    height: 40px;
    padding-top: 12px;
    padding-left: 12px;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.65);

    font-family: "museo-sans", "Helvetica Neue", Arial, sans-serif;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.9);
}

#gallery .photo-thumb:hover .name {
    height: 45px;
    color: #2BA6CB;
    -webkit-transition-duration: 300ms;
    -webkit-transition-timing-function: ease;
}


#search-container {
    background-color: rgba(0, 0, 0, 0.80);
    padding: 20px 30px;
    margin-top: 30px;

    -webkit-box-shadow: 1px 1px 3px #888;
       -moz-box-shadow: 1px 1px 3px #888;
            box-shadow: 1px 1px 3px #888;
}

#search-container #search select {
    display: inline-block;
    width: auto;
    margin-left: 8px;
    margin-right: 8px;
    border: none;
    border-bottom: 1px dotted white;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-appearance: textfield;

    background-color: inherit;
    color: white;
    font-size: 28px;
    text-align: center;
}

#search-container #search {
    display: inline;
    line-height: 140%;
}

#search-container #find-photographer {
    float: right;
    top: 10px;
    padding: 10px;
    padding-top:0;
    font-size: 20px;
}

#join:after {
    content: "Join as a photographer";
}

#registration {
    background: url("http://s3.amazonaws.com/lightning-app/images/login.jpg") no-repeat center 0 fixed;
    height: 100%;
}

#main {
    padding-bottom: 45px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100% !important;
    height: 45px;
    margin: 0;
    padding: 0;
    
    font-size: 30px;
    font-weight: bold;
    line-height: 45px;
    color: white;
    background: url(http://s3.amazonaws.com/lightning-app/images/darkwood.png);
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.7);
       -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.7);
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.7);
}

footer a {
    color: white;
}

@media only screen and (max-width: 767px) {
    .top-bar #right-nav a {
        float: right;
        padding: 0 5px;
        text-align: center;
        font-size: 16px;
    }

    .top-bar #right-nav a.logout {
        display: none;
    }

    #join:after {
        content: "Join us";
    }

    #search-container {
        margin-top: 10px;
        padding: 10px 15px;
        padding-bottom: 25px;
    }

    #search-container #search {
        font-size: 18px;
    }

    #search-container #search.near {
        margin-right: 4px;
    }

    #search-container #search select {
        font-size: 18px;
        margin-left: 0;
    }

    #gallery {
        margin-top: 15px;
    }

    #gallery .photo-thumb {
        width: 36%;
        min-width: 210px;
        max-width: 280px;
    }

    #gallery img.photo {
        width: 100%;
        max-width: none;
    }

    #gallery .photo-thumb {
        margin-bottom: 10px;
    }

    .registration {
        margin-top: 10px !important;
    }

    .registration h1 {
        font-size: 28px;
    }

    .registration #reg1 input[type="text"],
    .registration #reg1 input[type="email"],
    .registration #reg1 input[type="password"] {
        height: 36px;
    }

    .registration #reg1 input {
        line-height: 26px;
        font-size: 20px;
    }

    body#registration {
        background: url("http://s3.amazonaws.com/lightning-app/images/login.jpg") no-repeat center center fixed;
    }

    .portfolio-container {
        height: 155px;
    }

    .portfolio-container .portfolio {
        height: 200px;
    }

    .portfolio-container img {
        height: 100%;
    }

    footer {
        display: none;
    }
}

@media only screen and (max-width: 1279px) and (min-width: 768px) {
    .row {
        width: 90%;
        max-width: 90%;
    }

    #search-container {
        margin-top: 15px;
        padding: 10px 15px;
    }

    #search-container #search {
        font-size: 26px;
    }

    #search-container #search.near {
        margin-right: 6px;
    }

    #search-container #search select {
        font-size: 26px;
        margin-left: 0;
    }

    #gallery {
        margin-top: 15px;
    }

    #gallery .photo-thumb {
        width: 280px;
        margin-bottom: 10px;
    }

    #gallery img.photo {
        width: 100%;
        max-width: none;
    }
}