/* Custom lightning_app CSS  */

body {
    color:#1E1E1F;
    font-family:"museo-sans", sans-serif;
    background: url(http://subtlepatterns.com/patterns/white_wall.png);
}

.right {
    float:right;
}

.center {
    text-align: center;
}

.clear {
    clear: both;
}

/* Top nav bar stylings */
.top-bar { 
    -moz-box-shadow:    0px 0px 10px 0px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
	box-shadow:         0px 0px 10px 0px rgba(0,0,0,0.7);
}

.top-bar{
    margin:0;padding:0;
    line-height:45px;
    width:100% !important;
    background:#111;
    background: url(http://subtlepatterns.com/patterns/dark_wood.png);
}

.top-bar #logo {
    font-size: 22px;
}
    
.top-bar a{color:#fff;font-weight:bold}

.top-bar {
    font-family:"museo-sans", Arial, sans-serif;
    font-weight:bold;
}

.top-bar #right-nav a {
    display: inline-block;
    padding: 0 15px;
    text-align: center;
    float: right;
}

.top-bar #right-nav a:hover {
    background-color: #2BB879;
}

#camera-icon {
    height:30px;
    margin-top:8px;
    margin-right:10px;
}

/*
#join {
    height:35px;
    margin-top:6px;
    padding-bottom:20px;
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
	background-color:#63b8ee;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	color:#14396a;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 0px #7cacde;
}#join:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color:#468ccf;
}#join:active {
	position:relative;
	top:1px;
}*/
/* Portfolio slideshow */

.portfolio-container {
    margin:0;
    margin-top:-45px;
    height:500px;
    overflow:hidden;
}

.portfolio-container .portfolio {
    height:500px;
    width:100%;
    margin:0;
    padding:0;
    position:relative;
    overflow:hidden;
}

.portfolio-container .portfolio .portfolio-image {
    margin:0;
    padding:0;
    height:500px;
    float:left;
    position:relative;
}

.profile {
    margin-top: 20px !important;
    margin-bottom: 50px !important;
}

.profile-container {
    background:url("../images/gif.gif");
    width:100%;
    border-top:solid 1px white;
    -moz-box-shadow: 0 0 5px 2px #888;
    -webkit-box-shadow: 0 0 5px 2px #888;
    box-shadow:  0 0 5px 2px #888;
}

.propic {
    z-index:100 !important;
    height:140px;
    width:140px;
    background:white;
    -webkit-border-radius:3px;
    border-radius:3px;
    moz-border-radius:3px;
    -webkit-box-shadow:inset 1px 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow:inset 1px 1px 3px rgba(0, 0, 0, 0.4);
    moz-box-shadow:inset 1px 1px 3px rgba(0, 0, 0, 0.4);
    float: left;
}

.propic img {    
    height:97%;
    margin-left:auto;
    margin-right:auto;
    padding-top:7px;
    display:block;
    
}

.profile_info {
    float: right;
}

#name {
    font-weight:bold;
    font-size:36px;
    margin-top: 0;
    margin-bottom: 10px;
}

.info {
    font-size:14px;
    display: block;
    line-height: 140%;
}

.quote {
    margin-top:10px;
    width:600px;
    font-style:italic;
    font-size:16px;
}

.tag {
    font-weight:bold;
}

#contact-button {
    margin: 15px 0;
    width: 140px;
}

/*
.pink {
    border:1px solid #BF0569;
    background: -webkit-gradient(linear, center top, center bottom, from(#ED1D89), to(#BF0265));
    background: -moz-linear-gradient(top, #ED1D89, #BF0265);
    height:30px;
    -moz-border-radius: 0.3em;
      -webkit-border-radius:0.3em;
    box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.3),inset 0 -1px 1px #C90373,0 1px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.3),inset 0 -1px 1px #C90373,0 1px 2px rgba(0, 0, 0, 0.5)
    -webkit-box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.3),inset 0 -1px 1px #C90373,0 1px 2px rgba(0, 0, 0, 0.5)
    color: white !important;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
}
*/


form#reg2 #profilepic {
    height: 280px;
    padding: 10px 10px 50px 10px;
    background-color: white;
    border: 1px solid #AFAFAF;
}

label.checkbox {
    display: inline-block;
    padding-top: 5px;
    padding-right: 10px;
}

label.checkbox span.checkbox {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

label.checkbox:hover span.checkbox {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.reveal-modal-bg {
    background-color: rgba(0, 0, 0, 0.80);
}

/* MODAL WINDOW  */
#mask {
  position:fixed;
  left:0px;
  top:0px;
  z-index:9000;
  background-color: rgba(0, 0, 0, 0.80);
  display:none;
}
 
#boxes .window {
  position:fixed;
  left:0;
  top:0;
  width:200px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}

#boxes #booking {
  width:375px;
  height:203px;
  padding:10px;
  background-color:#ffffff;
}

.registration {
    margin-top: 50px !important;
}

.white {
    color: white;
}

.registration #reg1 input {
    line-height: 36px;
    font-size: 24px;
}

.registration #reg1 input[type=text], .registration #reg1 input[type=password] {
    height: 50px;
}

.registration #reg1 input[type=submit] {
    margin-top: 20px;
}

.registration label.checkbox {
    color: rgba(0, 0, 0, 0.75);
}

.registration input#savechanges {
    margin-top: 30px;
    margin-right: 110px;
}

.registration form#reg2 {
    margin-top: 20px;
}

/* SEARCH PAGE   */
#gallery .photo-thumb {list-style-type:none; position:relative; margin:0; margin-top:20px; padding:0;}
#gallery .photo-thumb:nth-child(8n+1) {clear: both;}

#gallery .photo-thumb { display: block; overflow: hidden; float:left; width:323px; height: 300px; color:#FFFFFF;}

#gallery img { max-width:300px; max-height: 300px; background-color: black; margin-left:10px; margin-bottom:-41px; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);}
#gallery a {text-decoration:none;color:inherit;}

#gallery .photo-thumb:hover div.name{color:#3589A7}

div.name {font-family:"museo-sans", "Helvetica Neue", Arial,sans-serif, sans-serif; text-align:left; font-size:14px;text-shadow:rgba(0, 0, 0, 0.9); background-color:rgba(0, 0, 0, 0.65);width: 300px; height: 40px; padding-top:12px; padding-left:12px; margin-left: 10px; margin-right:12px; position:absolute;}


.reg-container {
    background-color: rgba(0, 0, 0, 0.80);
    padding:40px;
    padding-bottom: 80px;
}

body#registration { 
    background: url("http://i.imgur.com/TABvy.jpg") no-repeat center center fixed;
}*/